### Create dataset for views

In [4]:
dataset_id = "covid_19_views";

In [5]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'nimble-cortex-266516:covid_19_views' successfully created.

# Apple Mobility data set

### Find the change in driving mobility as time goes by (date increases)

In [2]:
%%bigquery
select region, date, change_in_baseline_mobility
from nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF
where transportation_type = 'driving' and region = 'United States'
order by date asc

            region        date  change_in_baseline_mobility
0    United States  2020-01-13                         0.00
1    United States  2020-01-14                        -2.97
2    United States  2020-01-15                        -5.19
3    United States  2020-01-16                        -8.48
4    United States  2020-01-17                       -25.51
..             ...         ...                          ...
111  United States  2020-05-03                        31.92
112  United States  2020-05-04                        21.99
113  United States  2020-05-05                        19.45
114  United States  2020-05-06                        18.53
115  United States  2020-05-07                        14.15

[116 rows x 3 columns]

In [2]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_driving_mobility` as
select region, date, change_in_baseline_mobility
from `nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF`
where transportation_type = 'driving'
order by date asc

Empty DataFrame
Columns: []
Index: []

In [22]:
%%bigquery
select date, avg(change_in_baseline_mobility) as average_change_among_countries
from nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF
where transportation_type = 'driving' and geo_type = 'country/region'
group by date
order by date asc

           date  average_change_among_countries
0    2020-01-13                        0.000000
1    2020-01-14                       -1.497937
2    2020-01-15                       -3.815873
3    2020-01-16                       -6.745556
4    2020-01-17                      -17.628095
..          ...                             ...
111  2020-05-03                       45.176667
112  2020-05-04                       40.483651
113  2020-05-05                       39.595556
114  2020-05-06                       38.048254
115  2020-05-07                       35.966825

[116 rows x 2 columns]

In [24]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_driving_mobility_avg` as
select date, avg(change_in_baseline_mobility) as average_change_among_countries
from `nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF`
where transportation_type = 'driving' and geo_type = 'country/region'
group by date
order by date asc

Empty DataFrame
Columns: []
Index: []

### Find the change in walking mobility as time goes by (date increases)

In [14]:
%%bigquery
select region, date, change_in_baseline_mobility
from nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF
where transportation_type = 'walking' and region = 'United States'
order by date asc

            region        date  change_in_baseline_mobility
0    United States  2020-01-13                         0.00
1    United States  2020-01-14                         0.41
2    United States  2020-01-15                        -1.87
3    United States  2020-01-16                        -0.60
4    United States  2020-01-17                       -21.36
..             ...         ...                          ...
111  United States  2020-05-03                        42.36
112  United States  2020-05-04                        36.73
113  United States  2020-05-05                        35.21
114  United States  2020-05-06                        35.68
115  United States  2020-05-07                        31.10

[116 rows x 3 columns]

In [35]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_walking_mobility` as
select region, date, change_in_baseline_mobility
from `nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF`
where transportation_type = 'walking'
order by date asc

Empty DataFrame
Columns: []
Index: []

In [25]:
%%bigquery
select date, avg(change_in_baseline_mobility) as average_change_among_countries
from nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF
where transportation_type = 'walking' and geo_type = 'country/region'
group by date
order by date asc

           date  average_change_among_countries
0    2020-01-13                        0.000000
1    2020-01-14                       -1.645238
2    2020-01-15                       -4.254444
3    2020-01-16                       -8.140952
4    2020-01-17                      -22.044921
..          ...                             ...
111  2020-05-03                       53.069683
112  2020-05-04                       48.979048
113  2020-05-05                       48.321270
114  2020-05-06                       47.024444
115  2020-05-07                       44.986825

[116 rows x 2 columns]

In [32]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_walking_mobility_avg` as
select date, avg(change_in_baseline_mobility) as average_change_among_countries
from `nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF`
where transportation_type = 'walking' and geo_type = 'country/region'
group by date
order by date asc

Empty DataFrame
Columns: []
Index: []

### Find the change in transit mobility as time goes by (date increases)

In [18]:
%%bigquery
select region, date, change_in_baseline_mobility
from nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF
where transportation_type = 'transit' and region = 'United States'
order by date asc

            region        date  change_in_baseline_mobility
0    United States  2020-01-13                         0.00
1    United States  2020-01-14                         2.23
2    United States  2020-01-15                         1.16
3    United States  2020-01-16                         0.96
4    United States  2020-01-17                        -8.03
..             ...         ...                          ...
111  United States  2020-05-03                        73.65
112  United States  2020-05-04                        70.00
113  United States  2020-05-05                        70.20
114  United States  2020-05-06                        70.53
115  United States  2020-05-07                        69.88

[116 rows x 3 columns]

In [31]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_transit_mobility` as
select region, date, change_in_baseline_mobility
from `nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF`
where transportation_type = 'transit'
order by date asc

Empty DataFrame
Columns: []
Index: []

In [29]:
%%bigquery
select date, avg(change_in_baseline_mobility) as average_change
from nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF
where transportation_type = 'transit' and geo_type = 'country/region'
group by date
order by date asc

           date  average_change
0    2020-01-13        0.000000
1    2020-01-14        0.170000
2    2020-01-15       -1.603333
3    2020-01-16       -2.825926
4    2020-01-17      -10.318148
..          ...             ...
111  2020-05-03       67.094444
112  2020-05-04       64.806296
113  2020-05-05       64.750370
114  2020-05-06       64.063333
115  2020-05-07       63.740741

[116 rows x 2 columns]

In [30]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_transit_mobility_avg` as
select date, avg(change_in_baseline_mobility) as average_change_among_countries
from `nimble-cortex-266516.covid_19_apple_mobility_modeled.mobility_report_beam_DF`
where transportation_type = 'transit' and geo_type = 'country/region'
group by date
order by date asc

Empty DataFrame
Columns: []
Index: []

# Google Mobility and USAFacts county join

In [7]:
%%bigquery
select g.sub_region_1 as state, g.sub_region_2 as county, g.date, g.retail_and_recreation_percent_change_from_baseline, g.grocery_and_pharmacy_percent_change_from_baseline, g.workplaces_percent_change_from_baseline, u.confirmed_cases, u.deaths
from nimble-cortex-266516.covid_19_google_mobility_modeled.mobility_report_Beam_DF g join nimble-cortex-266516.covid_19_usa_staging.us_counties u
on g.date = u.date and g.sub_region_1 = u.state_name and g.sub_region_2 = u.county
where g.country_region = 'United States' and g.sub_region_1 = 'Texas' and g.sub_region_2 = 'Travis'
order by g.date asc

,state,county,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,workplaces_percent_change_from_baseline,confirmed_cases,deaths
0,Texas,Travis,2020-03-13,1,28,-14,4,0
1,Texas,Travis,2020-03-14,-12,7,-2,4,0
2,Texas,Travis,2020-03-15,-17,-2,-11,6,0
3,Texas,Travis,2020-03-16,-11,9,-32,6,0
4,Texas,Travis,2020-03-17,-24,8,-41,6,0
5,Texas,Travis,2020-03-18,-32,4,-44,6,0
6,Texas,Travis,2020-03-19,-35,0,-49,7,0
7,Texas,Travis,2020-03-20,-43,-5,-49,21,0
8,Texas,Travis,2020-03-21,-52,-16,-32,62,0
9,Texas,Travis,2020-03-22,-50,-20,-38,79,0
10,Texas,Travis,2020-03-23,-37,-8,-51,79,0
11,Texas,Travis,2020-03-24,-39,-5,-54,79,0
12,Texas,Travis,2020-03-25,-53,-24,-59,119,0
13,Texas,Travis,2020-03-26,-51,-22,-60,137,0
14,Texas,Travis,2020-03-27,-52,-22,-58,160,1
15,Texas,Travis,2020-03-28,-57,-26,-40,160,1
16,Texas,Travis,2020-03-29,-54,-29,-44,179,1
17,Texas,Travis,2020-03-30,-52,-29,-61,206,2
18,Texas,Travis,2020-03-31,-47,-19,-62,206,2
19,Texas,Travis,2020-04-01,-46,-17,-61,244,2
20,Texas,Travis,2020-04-02,-52,-23,-63,305,3
21,Texas,Travis,2020-04-03,-55,-25,-62,351,3
22,Texas,Travis,2020-04-04,-60,-29,-48,430,6
23,Texas,Travis,2020-04-05,-56,-30,-46,460,6
24,Texas,Travis,2020-04-06,-49,-25,-61,502,6
25,Texas,Travis,2020-04-07,-50,-24,-62,502,6
26,Texas,Travis,2020-04-08,-50,-23,-62,596,7
27,Texas,Travis,2020-04-09,-52,-25,-63,597,7
28,Texas,Travis,2020-04-10,-50,-20,-64,642,7
29,Texas,Travis,2020-04-11,-56,-24,-44,690,9
30,Texas,Travis,2020-04-12,-65,-47,-52,774,9
31,Texas,Travis,2020-04-13,-47,-25,-60,856,11
32,Texas,Travis,2020-04-14,-49,-26,-61,900,14
33,Texas,Travis,2020-04-15,-46,-23,-59,900,14
34,Texas,Travis,2020-04-16,-48,-24,-61,977,17
35,Texas,Travis,2020-04-17,-51,-27,-58,1074,21
36,Texas,Travis,2020-04-18,-55,-28,-39,1092,23
37,Texas,Travis,2020-04-19,-53,-31,-44,1108,25
38,Texas,Travis,2020-04-20,-47,-27,-59,1174,26
39,Texas,Travis,2020-04-21,-48,-25,-61,1233,27
40,Texas,Travis,2020-04-22,-51,-27,-60,1263,28
41,Texas,Travis,2020-04-23,-47,-22,-61,1312,31
42,Texas,Travis,2020-04-24,-48,-23,-58,1379,32
43,Texas,Travis,2020-04-25,-51,-23,-37,1396,36
44,Texas,Travis,2020-04-26,-49,-27,-42,1412,39
45,Texas,Travis,2020-04-27,-45,-24,-58,1464,42
46,Texas,Travis,2020-04-28,-46,-22,-59,1539,42
47,Texas,Travis,2020-04-29,-44,-22,-59,1591,44
48,Texas,Travis,2020-04-30,-43,-18,-59,1654,47
49,Texas,Travis,2020-05-01,-42,-17,-55,1683,51
50,Texas,Travis,2020-05-02,-46,-18,-33,1714,51

In [8]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_usa_cases_and_mobility` as
select g.sub_region_1 as state, g.sub_region_2 as county, g.date, g.retail_and_recreation_percent_change_from_baseline, g.grocery_and_pharmacy_percent_change_from_baseline, g.workplaces_percent_change_from_baseline, u.confirmed_cases, u.deaths
from `nimble-cortex-266516.covid_19_google_mobility_modeled.mobility_report_Beam_DF` g join `nimble-cortex-266516.covid_19_usa_staging.us_counties` u
on g.date = u.date and g.sub_region_1 = u.state_name and g.sub_region_2 = u.county
where g.country_region = 'United States'
order by g.date asc

Empty DataFrame
Columns: []
Index: []

# JHU summary and world cities join

In [2]:
%%bigquery
select s.date, w.city, s.province, s.country_region, s.confirmed, s.deaths, s.recovered, s.active, (s.confirmed/w.population*100) as confirmed_per_100, (s.deaths/w.population*100) as deaths_per_100, (s.recovered/w.population*100) as recovered_per_100, (s.active/w.population*100) as active_per_100
from nimble-cortex-266516.covid_19_jhu_modeled.summary_Beam_DF s join nimble-cortex-266516.world_cities_staging.world_cities w
on s.admin2 = w.city_ascii and s.province = w.admin_name and s.country_region = w.country
where s.country_region = 'United States'
order by s.date asc

,date,city,province,country_region,confirmed,deaths,recovered,active,confirmed_per_100,deaths_per_100,recovered_per_100,active_per_100
0,2020-03-22,Boulder,Colorado,United States,37,0,0,37,0.029352,0.000000,0.0,0.029352
1,2020-03-22,Denver,Colorado,United States,125,0,0,125,0.004485,0.000000,0.0,0.004485
2,2020-03-22,New Castle,Delaware,United States,39,0,0,39,0.729245,0.000000,0.0,0.729245
3,2020-03-22,Albany,New York,United States,123,0,0,123,0.020594,0.000000,0.0,0.020594
4,2020-03-22,Saratoga,New York,United States,35,0,0,35,0.612316,0.000000,0.0,0.612316
...,...,...,...,...,...,...,...,...,...,...,...,...
19774,2020-05-08,Twin Falls,Idaho,United States,239,11,0,228,0.438895,0.020200,0.0,0.418694
19775,2020-05-08,Honolulu,Hawaii,United States,408,11,0,397,0.048940,0.001319,0.0,0.047621
19776,2020-05-08,Jackson,Mississippi,United States,273,11,0,262,0.080725,0.003253,0.0,0.077472
19777,2020-05-08,Franklin,Pennsylvania,United States,452,11,0,441,5.031167,0.122440,0.0,4.908727
19778,2020-05-08,Douglas,Georgia,United States,398,11,0,387,2.851003,0.078797,0.0,2.772206

In [1]:
%%bigquery
create or replace view `nimble-cortex-266516.covid_19_views.v_usa_cases_to_population` as
select s.date, w.city, s.province, s.country_region, s.confirmed, s.deaths, s.recovered, s.active, (s.confirmed/w.population*100) as confirmed_per_100, (s.deaths/w.population*100) as deaths_per_100, (s.recovered/w.population*100) as recovered_per_100, (s.active/w.population*100) as active_per_100
from `nimble-cortex-266516.covid_19_jhu_modeled.summary_Beam_DF` s join `nimble-cortex-266516.world_cities_staging.world_cities` w
on s.admin2 = w.city_ascii and s.province = w.admin_name and s.country_region = w.country
where s.country_region = 'United States'
order by s.date asc

Empty DataFrame
Columns: []
Index: []